NODE_ENV=development
PORT=8080
MONGO_URI=mongodb://127.0.0.1:27017/tracking_system
MONGO_DB_NAME=tracking_system
DNS_SERVERS=8.8.8.8,1.1.1.1
JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=1d
CORS_ORIGIN=http://localhost:3000
